.body-bg{
    -fx-background-image: url('background.jpg');
    -fx-background-size: 100% 100%;
}
.buttons{
    -fx-background-color: #292929;
    -fx-background-radius: 100;
    -fx-border-color: #000000;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
}
.buttons:pressed{
    -fx-background-color: #6b6a6a;
    -fx-background-radius: 100;
    -fx-border-color: #292929;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
}
.tape-cells{
    -fx-fill: #292929;
    -fx-stroke: #000000;
}
.tape-cell-head{
    -fx-fill: #292929;
    -fx-stroke: #07595e;
    -fx-stroke-width: 2;
}
.tape-text{
    -fx-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
}
.tape-text-previous{
    -fx-fill: #07595e;
    -fx-font-family: Roboto;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.text-area .scroll-pane .viewport .content{
    -fx-background-color: #292929;
}

.states-toolbar{
    -fx-fill: #292929;
    -fx-arc-width: 10px;
    -fx-arc-height: 10px;
}

.help_section{
    -fx-background-color: #000000;
    -fx-arc-width: 40;
    -fx-arc-height: 40;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 15.5;
}
.text-area .text {
    -fx-text-alignment: center ;
}
.history-section{
    -fx-fill: #292929;
    -fx-stroke: #000000;
    -fx-arc-width: 10px;
    -fx-arc-height: 10px;
}
.menu-area{
    -fx-border-color: #000000;
}
.scroll-pane {
    -fx-background-color:transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar > .track{
    -fx-background-color: #292929;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
}

.scroll-bar > .thumb{
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 10;
}

.scroll-bar:vertical{
    -fx-pref-width: 14;
    -fx-padding: 2;
}

.scroll-bar:horizontal {
    -fx-pref-height: 14;
    -fx-padding: 2;
}

.increment-button:hover, .decrement-button:hover {
    -fx-background-color:  transparent;
    -fx-border-color: transparent;
}

.list-view > .virtual-flow > .corner{
    -fx-background-color: transparent;
}

.execution-history-label{
    -fx-background-color: #292929;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-min-width: 75;
    -fx-min-height: 32;
    -fx-wrap-text: true;
    -fx-padding: 2;
    -fx-border-insets: 2;
    -fx-background-insets: 2;
}

.state{
    -fx-fill: #292929;
    -fx-stroke: #ffffff;
}
.state-active{
    -fx-fill: #07595e;
    -fx-stroke: #ffffff;
}
.state-accepting{
    -fx-fill: #292929;
    -fx-stroke: #04ff04;
}
.state-rejecting{
    -fx-fill: #292929;
    -fx-stroke: #ff0000;
}
.state-accepting-active{
    -fx-fill: #07595e;
    -fx-stroke: #04ff04;
}
.state-rejecting-active{
    -fx-fill: #07595e;
    -fx-stroke: #ff0000;
}
.state-label{
    -fx-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
}

.canvas{
    -fx-background-color: #505050;
}

.pop-up{
    -fx-background-color: #292929;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}
.pop-up-text{
    -fx-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}

.pop-up-textfield{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-padding: 4;
    -fx-border-insets: 4;
    -fx-background-insets: 4;
    /* -fx-text-font: Roboto; */
    -fx-alignment: center;
}

.pop-up-combobox{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-padding: 1;
    -fx-border-insets: 1;
    -fx-background-insets: 1;
}

.pop-up-label{
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-padding: 7 14 7 14;
    -fx-wrap-text: true;
}

.status-label{
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-padding: 10 0 0 15;}

.transition-arrow{
    -fx-stroke:#292929;
    -fx-stroke-width: 2;
}

.transition-loop{
    -fx-fill: transparent;
    -fx-stroke:#292929;
    -fx-stroke-width: 2;
}

.transition-label{
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}

.transition-rule-label{
    -fx-padding: -7 7 7 7;
    -fx-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}

.context-menu {
    -fx-background-color: #292929;
}
.menu-item{
    -fx-font-family: Roboto;
    -fx-font-size: 12;
}
.menu-item .label{
    -fx-text-fill: #ffffff;
}

.menu-item:focused{
    -fx-background-color: #a1a1a1;
    -fx-opacity: 0.8;
}

.list-view{
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-border-color: #000000;
    -fx-control-inner-background: #292929;
    -fx-background-radius: 3;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.transition-rules-popup-delete-button{
    -fx-background-color: #292929;
    -fx-background-radius: 10;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 10;
}
